html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#wrap {
    position: relative;
    max-width: 420px;
    min-width: 300px;
    max-height: 850px;
    min-height: 550px;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
}

#wrap > img {
    margin-top: 50%;
    margin-left: 20%;
    width: 60%;
}

#wrap > p {
    font-family: 'Noto Sans KR Light';
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}

#topbutton {
    position: absolute;
    top: 3%;
    left: 7%;
    width: 16%;
    height: 40px;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #A3A3A3;
    border: none;
    border-radius: 20px;
}

#bottombutton {
    position: absolute;
    top: 88%;
    left: 35%;
    width: 30%;
    height: 40px;
    text-align: center;
    font-family: 'Noto Sans KR Light';
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: #E1AA4F;
    border: none;
    border-radius: 20px;
}