:root {
  --animate-duration: 0.2s;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#backGround {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0%;
  z-index: 2;
  opacity: 0.7;
  background-color: black;
  visibility: hidden;
}

#wrap {
  position: relative;
  max-width: 360px;
  max-height: 550px;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  overflow: visible;
}

.tutorialWord {
  font-family: "Noto Sans KR Regular";
  font-size: 14px;
  line-height: 20.27px;
  margin: 0;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.tutorialWordBox {
  position: absolute;
  top: 463px;
  left: 11px;
  width: 340px;
  height: 78px;
  border: 2px solid #f5f5f5;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 3px;
  align-items: center;
  text-align: center;
}

#tutorialWordBoxTitle {
  font-family: "Noto Sans KR Bold";
  font-size: 24px;
  line-height: 35px;
  margin-top: 7px;
  margin-bottom: 0;
  color: #ffffff;
}

#tutorialWordBoxText {
  font-family: "Noto Sans KR Regular";
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color: #ffffff;
}

#mainhelpbutton {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 78px;
  height: 29px;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  border: none;
  background: #f1b85a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  visibility: visible;
}

#mainTutorial {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0%;
  text-align: center;
  align-items: center;
  z-index: 3;
  visibility: hidden;
}

#tutorialUploadbtn {
  position: absolute;
  top: 16px;
  left: 18px;
  width: 78px;
  height: 29px;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  color: rgb(0, 0, 0);
  background: #f5f5f5;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

#mainTutorialDirection1 {
  position: absolute;
  top: 35px;
  left: 105px;
  width: 28.5px;
  height: 83.5px;
  transform: rotate(6.91deg);
}

#mainTutorialWord1 {
  position: absolute;
  top: 122px;
  left: 27px;
  width: 138px;
  height: 44px;
}

#tutorialMainhelpbtn {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 78px;
  height: 29px;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  border: none;
  background: #f1b85a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

#mainTutorialDirection2 {
  position: absolute;
  top: 45px;
  right: 100px;
  width: 21.5px;
  height: 63px;
  transform: matrix(-0.99, 0.13, 0.13, 0.99, 0, 0);
}

#mainTutorialWord2 {
  position: absolute;
  top: 115px;
  right: 12px;
  width: 138px;
  height: 44px;
}

#tutorialRecordbtn {
  position: absolute;
  top: 375px;
  left: 143.5px;
  width: 73px;
  height: 73px;
}

#mainTutorialDirection3 {
  position: absolute;
  top: 265px;
  left: 206px;
  width: 24px;
  height: 106px;
  transform: matrix(-0.94, -0.33, -0.33, 0.94, 0, 0);
}

#mainTutorialWord3 {
  position: absolute;
  top: 216px;
  left: 114px;
  width: 138px;
  height: 44px;
}

#recordhelpbutton {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 78px;
  height: 29px;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  border: none;
  background: #f1b85a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  visibility: hidden;
}

#recordTutorial {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0%;
  text-align: center;
  align-items: center;
  z-index: 3;
  visibility: hidden;
}

#tutorialDeletebtn {
  position: absolute;
  top: 16px;
  left: 18px;
  width: 78px;
  height: 29px;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  color: rgb(0, 0, 0);
  background: #f5f5f5;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

#recordTutorialDirection1 {
  position: absolute;
  top: 35px;
  left: 98px;
  width: 22px;
  height: 63.5px;
  transform: rotate(6.91deg);
}

#recordTutorialWord1 {
  position: absolute;
  top: 91px;
  left: 14px;
  width: 110px;
  height: 44px;
}

#tutorialRecordhelpbtn {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 78px;
  height: 29px;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  border: none;
  background: #f1b85a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

#recordTutorialDirection2 {
  position: absolute;
  top: 42px;
  right: 106px;
  width: 21.5px;
  height: 63px;
  transform: matrix(-1, -0.01, -0.01, 1, 0, 0);
}

#recordTutorialWord2 {
  position: absolute;
  top: 100px;
  right: 10px;
  width: 120px;
  height: 44px;
}

#tutorialPlaybtn {
  position: absolute;
  top: 97px;
  left: 104.5px;
  width: 151px;
  height: 178px;
}

#recordTutorialDirection3 {
  position: absolute;
  top: 270px;
  left: 90px;
  width: 20px;
  height: 84px;
  transform: matrix(0.93, 0.38, 0.38, -0.93, 0, 0);
}

#recordTutorialWord3 {
  position: absolute;
  top: 360px;
  left: 30px;
  width: 225px;
  height: 60px;
}

#uploadbutton {
  position: absolute;
  top: 16px;
  left: 18px;
  width: 78px;
  height: 29px;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  color: rgb(0, 0, 0);
  background: #f5f5f5;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  visibility: visible;
}

#filebox {
  position: absolute;
  top: 145px;
  left: 15px;
  width: 330px;
  height: 169px;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 14px;
  line-height: 20px;
  background: #fdfdfd;
  border-radius: 17px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
  visibility: hidden;
}

.fileboxInner {
  position: absolute;
  top: 41px;
  left: 32px;
  width: 266px;
  height: 29px;
}

.fileboxInner input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.fileboxInner label {
  display: inline-block;
  height: 15px;
  padding: 0.5em 0.75em;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  border-bottom-color: #e2e2e2;
  background: #f5f5f5;
  border: 1px solid #ebebeb;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
}

.fileboxInner .upload-name {
  display: inline-block;
  width: 150px;
  height: 15px;
  padding: 0.5em 0.75em;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#closeFileboxbtn {
  position: absolute;
  bottom: 39px;
  left: 43px;
  width: 78px;
  height: 29px;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  background: #f5f5f5;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

#uploadFilebtn {
  position: absolute;
  bottom: 39px;
  right: 43px;
  width: 78px;
  height: 29px;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  border: none;
  background: #f1b85a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  visibility: hidden;
}

#recordbutton {
  position: absolute;
  top: 375px;
  left: 143.5px;
  width: 73px;
  height: 73px;
  padding: 0%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  visibility: visible;
}
#recordbutton img {
  margin: 0%;
  width: 100%;
}

#stopbutton {
  position: absolute;
  top: 375px;
  left: 143.5px;
  width: 73px;
  height: 73px;
  padding: 0%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  visibility: hidden;
}
#stopbutton img {
  margin: 0%;
  width: 100%;
}

#deletebuttonIcon {
  position: absolute;
  top: 16px;
  left: 18px;
  width: 78px;
  height: 29px;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  background: #f5f5f5;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  visibility: hidden;
}

#recordfinishpop {
  position: absolute;
  top: 16px;
  left: 15px;
  width: 330px;
  height: 191px;
  padding: 0;
  margin: 0;
  text-align: center;
  background: #fdfdfd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  z-index: 1;
  visibility: hidden;
}

#recordfinishpop h1 {
  position: absolute;
  top: 20px;
  left: 78px;
  width: 174px;
  height: 43px;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR Bold";
  font-size: 24px;
  line-height: 35px;
  align-items: center;
  text-align: center;
}

#recordfinishpop p {
  position: absolute;
  top: 80px;
  left: 40px;
  width: 250px;
  height: 40px;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR Regular";
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
}

#openDeletePopbtn {
  position: absolute;
  bottom: 29px;
  left: 43px;
  width: 78px;
  height: 29px;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  background: #f5f5f5;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

#openUploadCheckPopbtn {
  position: absolute;
  bottom: 29px;
  right: 43px;
  width: 78px;
  height: 29px;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  border: none;
  background: #f1b85a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

#uploadCheckPop {
  position: absolute;
  top: 145px;
  left: 15px;
  width: 330px;
  height: 169px;
  align-items: center;
  text-align: center;
  background: #fdfdfd;
  border-radius: 17px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
  visibility: hidden;
}

#uploadCheckPopWord1 {
  font-family: "Noto Sans KR Regular";
  font-size: 14px;
  line-height: 20px;
  padding-top: 31px;
  margin: 0;
}

#uploadCheckPopWord2 {
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

#closeUploadCheckPopbtn {
  position: absolute;
  bottom: 39px;
  left: 30px;
  width: 121px;
  height: 29px;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  background: #f5f5f5;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

#finalUploadButton {
  position: absolute;
  bottom: 39px;
  right: 30px;
  width: 121px;
  height: 29px;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  border: none;
  background: #f1b85a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

#deletePop {
  position: absolute;
  top: 145px;
  left: 15px;
  width: 330px;
  height: 169px;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 14px;
  line-height: 20px;
  background: #fdfdfd;
  border-radius: 17px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
  visibility: hidden;
}

#deletePop p {
  padding-top: 25px;
}

#closeDeletePopbtn {
  position: absolute;
  bottom: 39px;
  left: 30px;
  width: 121px;
  height: 29px;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  background: #f5f5f5;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

#deletebutton {
  position: absolute;
  bottom: 39px;
  right: 30px;
  width: 121px;
  height: 29px;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  border: none;
  background: #f1b85a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

#timerPosition {
  position: absolute;
  top: 65px;
  width: 100%;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans KR Light";
  font-size: 20px;
  visibility: hidden;
}

#waterdrop {
  position: absolute;
  top: 97px;
  left: 104.5px;
  width: 151px;
  height: 178px;
  visibility: visible;
}
#waterdropIng {
  position: absolute;
  top: 97px;
  left: 104.5px;
  width: 151px;
  height: 178px;
  visibility: hidden;
}

#playbutton {
  width: 151px;
  height: 178px;
  padding: 0%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  visibility: hidden;
}
#playbutton img {
  margin: 0%;
  width: 100%;
}

#pausebutton {
  position: absolute;
  top: 97px;
  left: 104.5px;
  width: 151px;
  height: 178px;
  padding: 0%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  visibility: hidden;
}
#pausebutton img {
  margin: 0%;
  width: 100%;
}

.swiper-container {
  position: absolute;
  top: 97px;
  left: 104.5px;
  width: 151px;
  height: 453px;
  font-size: 0px;
  visibility: hidden;
}

#dragdirection {
  position: absolute;
  top: 275px;
  left: 176px;
  width: 8px;
  visibility: hidden;
}

#dragposition {
  position: absolute;
  bottom: 10px;
  left: 104.5px;
  width: 151px;
  height: 178px;
  visibility: hidden;
}

#dragup {
  position: absolute;
  bottom: -100%;
  left: -50%;
  width: 200%;
  height: 100%;
  opacity: 1;
}

#dragwaterdrop {
  position: absolute;
  bottom: 10.5px;
  left: 105px;
  width: 150px;
  height: 177px;
  visibility: hidden;
}

#uploading {
  position: absolute;
  top: 135px;
  left: 100px;
  width: 160px;
  padding: 0%;
  z-index: 4;
  border: none;
  text-align: center;
  font-family: "Noto Sans KR Medium";
  font-size: 28px;
  color: #f0b24c;
  background-color: rgba(255, 255, 255, 0);
  visibility: hidden;
}

#current-time {
  float: left;
  font-family: "Noto Sans KR Regular";
  font-size: 14px;
}
#duration {
  float: right;
  font-family: "Noto Sans KR Regular";
  font-size: 14px;
}
#slider-container {
  position: absolute;
  top: 343px;
  left: 60px;
  width: 240px;
  --seek-before-width: 0%;
  --buffered-width: 0%;
  visibility: hidden;
}

#seek-slider {
  width: 100%;
}

input[type="range"] {
  position: relative;
  -webkit-appearance: none;
  width: 50%;
  margin: 0;
  padding: 0;
  height: 19px;
  /*margin: 30px 2.5% 20px 2.5%;*/
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    #c4c4c4 var(--buffered-width),
    #c4c4c481 var(--buffered-width)
  );
}
input[type="range"]::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: var(--seek-before-width);
  height: 3px;
  background-color: #f0b24c;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: content-box;
  border: 2px solid #f0b24c;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #f0b24c;
  cursor: pointer;
  margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: #f0b24c;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    #c4c4c4 var(--buffered-width),
    #c4c4c481 var(--buffered-width)
  );
}
input[type="range"]::-moz-range-progress {
  background-color: #f0b24c;
}
input[type="range"]::-moz-focus-outer {
  border: 0;
}
input[type="range"]::-moz-range-thumb {
  box-sizing: content-box;
  border: 1px solid #f0b24c;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #f0b24c;
  cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  background: #f0b24c;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border: solid transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background-color: #f0b24c;
}
input[type="range"]::-ms-fill-upper {
  background: linear-gradient(
    to right,
    #c4c4c4 var(--buffered-width),
    #c4c4c481 var(--buffered-width)
  );
}
input[type="range"]::-ms-thumb {
  box-sizing: content-box;
  border: 1px solid #f0b24c;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #f0b24c;
  cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
  transform: scale(1.2);
  background: #f0b24c;
}
