:root {
    --animate-duration: 0.2s;
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#backGround {
    position: absolute;
    width: 100%; 
    height: 100%;
    margin: 0%;
    z-index: 2; 
    opacity: 0.7;
    background-color: black;
    visibility: hidden;
}

#wrap {
    position: relative;
    max-width: 360px;
    max-height: 550px;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    overflow: visible;
}

.tutorialWord {
    font-family: 'Noto Sans KR Regular';
    font-size: 14px;
    line-height: 20.27px;
    margin: 0;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.tutorialWordBox {
    position: absolute;
    top: 463px;
    left: 11px;
    width: 340px;
    height: 78px;
    border: 2px solid #F5F5F5;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 3px;
    align-items: center;
    text-align: center;
}

#tutorialWordBoxTitle {
    font-family: 'Noto Sans KR Bold';
    font-size: 24px;
    line-height: 35px;
    margin-top: 7px;
    margin-bottom: 0;
    color: #FFFFFF;
}

#tutorialWordBoxText {
    font-family: 'Noto Sans KR Regular';
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    color: #FFFFFF;
}

#playTutorial {
    position: absolute;
    width: 100%; 
    height: 100%;
    margin: 0%;
    text-align: center;
    align-items: center;
    z-index: 3; 
    visibility: hidden;
}

#tutorialRecordbtn {
    position: absolute;
    top: 16px;
    left: 18px;
    width: 78px;
    height: 29px;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
    font-family: 'Noto Sans KR Regular';
    font-size: 12px;
    line-height: 17px;
    color: rgb(0, 0, 0);
    background: #F5F5F5;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}

#recordTutorialDirection1 {
    position: absolute;
    top: 35px;
    left: 98px;
    width: 22px;
    height: 63.5px;
    transform: rotate(6.91deg);
}

#recordTutorialWord1 {
    position: absolute;
    top: 102px;
    left: 14px;
    width: 110px;
    height: 44px;
}

#tutorialDownloadbtn {
    position: absolute;
    top: 16px;
    right: 19px;
    width: 78px;
    height: 29px;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
    font-family: 'Noto Sans KR Regular';
    font-size: 12px;
    line-height: 17px;
    color: #ffffff;
    border: none;
    background: #F1B85A;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}

#recordTutorialDirection2 {
    position: absolute;
    top: 42px;
    right: 106px;
    width: 21.5px;
    height: 63px;
    transform: matrix(-1, -0.01, -0.01, 1, 0, 0);
}

#recordTutorialWord2 {
    position: absolute;
    top: 106px;
    right: 10px;
    width: 120px;
    height: 44px;
}

#tutorialPlaybtn {
    position: absolute;
    top: 132px;
    left: 104.5px;
    width: 151px;
}

#recordTutorialDirection3 {
    position: absolute;
    top: 298px;
    left: 90px;
    width: 20px;
    height: 84px;
    transform: matrix(0.93, 0.38, 0.38, -0.93, 0, 0);
}

#recordTutorialWord3 {
    position: absolute;
    top: 387px;
    left: 28px;
    width: 160px;
    height: 60px;
}

#recordCheckPop {
    position: absolute;
    top: 145px;
    left: 15px;
    width: 330px;
    height: 137px;
    align-items: center;
    text-align: center;
    background: #FDFDFD;
    border-radius: 17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;
    visibility: hidden;
}

#recordCheckPopWord {
    font-family: 'Noto Sans KR Regular';
    font-size: 14px;
    line-height: 21px;
    padding-top: 26px;
    margin: 0;
}

#closeRecordCheckPopbtn {
    position: absolute;
    bottom: 26px;
    left: 30px; 
    width: 121px;
    height: 29px;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
    font-family: 'Noto Sans KR Regular';
    font-size: 12px;
    line-height: 17px;
    color: #000000;
    background: #F5F5F5;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}

#finalRecordButton {
    position: absolute; 
    bottom: 26px;
    right: 30px; 
    width: 121px;
    height: 29px;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
    font-family: 'Noto Sans KR Regular';
    font-size: 12px;
    line-height: 17px;
    color: #ffffff;
    border: none;
    background: #F1B85A;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}

#gotoRecordpage {
    position: absolute;
    top: 16px;
    left: 19px;
    width: 78px;
    height: 29px;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
    font-family: 'Noto Sans KR Regular';
    font-size: 12px;
    line-height: 17px;
    border: none;
    color: rgb(0, 0, 0);
    background: #F5F5F5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    visibility: visible;
}

#savebutton {
    position: absolute;
    top: 16px;
    right: 19px;
    width: 78px;
    height: 29px;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
    font-family: 'Noto Sans KR Regular';
    font-size: 12px;
    line-height: 17px;
    color: #ffffff;
    border: none;
    background: #F1B85A;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    visibility: visible;
}

#playbutton {
    position: absolute;
    top: 132px;
    left: 104.5px;
    width: 151px;
    padding: 0%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    visibility: visible;
}
#playbutton img { margin: 0%; width: 100%;}

#stopbutton {
    position: absolute;
    top: 132px;
    left: 104.5px;
    width: 151px;
    padding: 0%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    visibility: hidden;
}
#stopbutton img { margin: 0%; width: 100%;}

#current-time {
    float: left;
    font-family: 'Noto Sans KR Regular';
    font-size: 14px;
}
#duration {
    float: right;
    font-family: 'Noto Sans KR Regular';
    font-size: 14px;
}
#slider-container {
    position: absolute;
    top: 366px;
    left: 60px;
    width: 240px;
    --seek-before-width: 0%;
    --buffered-width: 0%;
    visibility: visible;
}

#seek-slider{
    width: 100%;
}

input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    width: 50%;
    margin: 0;
    padding: 0;
    height: 19px;
    /*margin: 30px 2.5% 20px 2.5%;*/
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, #C4C4C4 var(--buffered-width), #c4c4c481 var(--buffered-width));
}
input[type="range"]::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color: #F0B24C;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 2px solid #F0B24C;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #F0B24C;
    cursor: pointer;
    margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: #F0B24C;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, #C4C4C4 var(--buffered-width), #c4c4c481 var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
    background-color: #F0B24C;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #F0B24C;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #F0B24C;
    cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #F0B24C;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background-color: #F0B24C;
}
input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, #C4C4C4 var(--buffered-width), #c4c4c481 var(--buffered-width));
}
input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #F0B24C;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #F0B24C;
    cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: #F0B24C;
}