html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#wrap {
    position: relative;
    max-width: 420px;
    min-width: 300px;
    max-height: 850px;
    min-height: 550px;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
}

#tutorialImg {
    width: 100%;
    height: 60%;
    text-align: center;
}

#tutorialImg img {
    margin-top: 70%;
    width: 90%;
}

#container {
    width: 100%;
    height: 24%;
    text-align: center;
}

#container > h1 {
    font-family: 'Noto Sans KR Bold';
    font-size: calc((100vh/812)*30);
    line-height: calc((100vh/812)*60);
    margin-top: 6%;
}

#container > p {
    font-family: 'Noto Sans KR Regular';
    font-size: calc((100vh/812)*18);
    line-height: calc((100vh/812)*35);
    padding-top: 2%;
    margin: 0;
}

#bot-button {
    width: 100%;
    height: 20%;
    text-align: center;
}

#bot-button button {
    width: 20%;
    height: calc((100vh/812)*45);
    text-align: center;
    font-family: 'Noto Sans KR Light';
    font-size: calc((100vh/812)*19);
    color: rgb(255, 255, 255);
    background-color: #F0B24C;
    border: none;
    border-radius: calc((100vh/812)*20);
}