:root {
    --animate-duration: 0.2s;
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#wrap {
    position: relative;
    max-width: 420px;
    min-width: 300px;
    max-height: 850px;
    min-height: 550px;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
}

#topButton {
    width: 100%;
    height: 10%;
}

#blank {
    width: 100%;
    height: 52%;
}

#container {
    width: 100%;
    height: 50%;
    text-align: center;
}

#container h1 {
    font-family: 'Noto Sans KR Bold';
    font-size: calc((100vh/812)*30);
    line-height: calc((100vh/812)*100);
}

#container p {
    font-family: 'Noto Sans KR Regular';
    font-size: calc((100vh/812)*20);
    line-height: calc((100vh/812)*35);
}

#backGround {
    position: absolute;
    width: 100%; 
    height: 100%;
    margin: 0%;
    z-index: 1; 
    opacity: 0.7;
    background-color: black;
    visibility: hidden;
}

#surveyPop {
    position: absolute;
    top: 35%;
    left: 5%;
    width: 90%;
    height: 28%;
    padding-top: 5%;
    padding-bottom: 5%;
    z-index: 1;
    text-align: center;
    background-color:white;
    border-radius: 30px;
    visibility: hidden;
}

#surveyPop p{
    font-family: 'Noto Sans KR Regular';
    font-size: calc((100vh/812)*18);
    line-height: calc((100vh/812)*35);
    margin: 0;
}

#surveyPop button {
    width: calc((100vh/812)*110);
    height: calc((100vh/812)*40);
    font-family: 'Noto Sans KR Light';
    font-size: calc((100vh/812)*14);
    border: none;
    border-radius: calc((100vh/812)*30);
}